<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-
  to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
  ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div>
        <h2>Admin 권한은 서비스 담당자에게 문의 바랍니다.</h2>
        <p>
            <a class="btn btn-lg btn-secondary" href="/admin">관리자 페이지(일반 사용자 접근 불가!!)</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
        </p>
    </div>
</body>
</html>